<h1 class="heading">Move the pony using the arrows below</h1>

<div class="controls_area">
  <div class="arrow">
    <i data-feather="arrow-up"></i>
    <p>Move north</p>
  </div>

  <div class="row">
    <div class="arrow">
      <i data-feather="arrow-left"></i>
      <p>Move west</p>
    </div>
    <div class="arrow">
      <i data-feather="eye"></i>
      <p>Stay</p>
    </div>
    <div class="arrow">
      <i data-feather="arrow-right"></i>
      <p>Move east</p>
    </div>
  </div>

  <div class="arrow">
    <i data-feather="arrow-down"></i>
    <p>Move south</p>
  </div>
</div>