// .play_area_container {
//   overflow: auto;
//   max-width: 500px;
//   max-height: 500px;
// }
.play_area {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    &.pony {
      background-color: #FF7DF6;
    }
    &.domokun {
      background-color: #E1E3E1;
    }
    &.exit {
      background-color: #8AE86F;
    }
  }
}
